
.Box { 
    border: 2px solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: antiquewhite;
    border-radius: 8px;
    color: black;
    
}

.Right, label, input {
    height: 100%;
    text-align: end;
    background-color:antiquewhite;
    border: none;
    outline: none !important;
}

option {
    font-size: 1.1rem;
}




#location {
    float: left;
}

h2 {
    display: flex;
    margin-left: 10px;
}

textarea {
    background-color: rgb(189, 187, 183);
    padding: 10px;
}

